<div class="card mat-card4">
  <div class="card-titles">
    <h2> Lenguajes de Programacion y Frameworks</h2>
    <br>
    <div ngClass="col-lg-2">
      <button type="button" routerLink="/newlenguajesyframeworks" class="btn3" *ngIf="isLogged"> Nueva Habilidad</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 circulo" *ngFor="let habilidades of Habilidades">
      <circle-progress 
      [percent]="(habilidades.porcentaje)"
      [radius]="100" 
      [title]="(habilidades.nombre)"
      [showTitle]="true"
      [titleColor]="'burlywood'"
      [outerStrokeWidth]="14" 
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'burlywood'"
      [innerStrokeColor]="'pink'" 
      [showImage]="false"
      [imageSrc]="''" 
      [imageWidth]="120" 
      [imageHeight]="120" 
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>

      <div>
        <td *ngIf="isLogged">
            <button class="btn" routerLink="/editlenguajesyframeworks/{{habilidades.id}}">
                <i class="bi bi-pencil-fill"></i></button>
        </td>
        <td *ngIf="isLogged">
            <button class="btn1" (click)="delete(habilidades.id)">
                <i class="bi bi-trash-fill"></i></button>
        </td>
    </div>
    
</div>
</div>
      
    
<hr>
    <!--<div class="col-sm-3 col-md-3 col-lg-3">
      <circle-progress [percent]="90" [radius]="100" [outerStrokeWidth]="14" [innerStrokeWidth]="1"
        [outerStrokeColor]="'burlywood'" [innerStrokeColor]="'pink'" [showImage]="true"
        [imageSrc]="'../../assets/img/csslogo.png'" [imageWidth]="120" [imageHeight]="120" [animation]="true"
        [animationDuration]="300"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <circle-progress [percent]="50" [radius]="100" [outerStrokeWidth]="14" [innerStrokeWidth]="1"
        [outerStrokeColor]="'burlywood'" [innerStrokeColor]="'pink'" [showImage]="true"
        [imageSrc]="'../../assets/img/js.png'" [imageWidth]="120" [imageHeight]="120" [animation]="true"
        [animationDuration]="300"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <circle-progress [percent]="50" [radius]="100" [outerStrokeWidth]="14" [innerStrokeWidth]="1"
        [outerStrokeColor]="'burlywood'" [innerStrokeColor]="'pink'" [showImage]="true"
        [imageSrc]="'../../assets/img/Typescript_logo_2020.svg.png'" [imageWidth]="120" [imageHeight]="120"
        [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <circle-progress [percent]="70" [radius]="100" [outerStrokeWidth]="14" [innerStrokeWidth]="1"
        [outerStrokeColor]="'burlywood'" [innerStrokeColor]="'pink'" [showImage]="true"
        [imageSrc]="'../../assets/img/angular.png'" [imageWidth]="120" [imageHeight]="120" [animation]="true"
        [animationDuration]="300"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <circle-progress [percent]="70" [radius]="100" [outerStrokeWidth]="14" [innerStrokeWidth]="1"
        [outerStrokeColor]="'burlywood'" [innerStrokeColor]="'pink'" [showImage]="true"
        [imageSrc]="'../../assets/img/mysql.jpg'" [imageWidth]="120" [imageHeight]="120" [animation]="true"
        [animationDuration]="300"></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <circle-progress [percent]="75" [radius]="100" [outerStrokeWidth]="14" [innerStrokeWidth]="1"
        [outerStrokeColor]="'burlywood'" [innerStrokeColor]="'pink'" [showImage]="true"
        [imageSrc]="'../../assets/img/github.png'" [imageWidth]="120" [imageHeight]="120" [animation]="true"
        [animationDuration]="300">
      </circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <circle-progress [percent]="70" [radius]="100" [outerStrokeWidth]="14" [innerStrokeWidth]="1"
        [outerStrokeColor]="'burlywood'" [innerStrokeColor]="'pink'" [showImage]="true"
        [imageSrc]="'../../assets/img/JAVa.jpg'" [imageWidth]="120" [imageHeight]="120" [animation]="true"
        [animationDuration]="300">
      </circle-progress>
    </div>-->
  
