<div class="car3">

<div class="col-lg-2">
  <br>  
     <button type="button" class="btn3" routerLink="/editacercademi/1" *ngIf="isLogged">
     Editar Persona
   </button>
   <br>
   </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 imagen" >
      <img src= {{persona.imagen}} class="img-fluid" id="fotomia">
  
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 imagen">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p> Full Stack Developer Jr</p>
    </div>
    <br>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 descripcion">
      <span>
        <h1> Acerca de Mi</h1>
        <p>{{persona.descripcion}}</p>
      </span>
    </div>
</div>
  <hr>


  